<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>

  <script src="<%= options.stealOptions.stealUrl %>"></script>
  <% if (options.stealOptions.map) { %>
    <script>
      steal.map(<%= JSON.stringify(options.stealOptions.map) %>);
    </script>
  <% } %>

  <% if(options.stealOptions.executed) { %>
    <script>
      <% options.stealOptions.executed.forEach(function(script) { %>
        steal.executed("<%= script %>");
      <% }) %>
    </script>
  <% } %>

 <% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
  <% }) %>
  
  <script>
	steal

  <% with (scripts) { %>
  <% [].concat(jasmine, vendor, helpers).forEach(function(script){ %>
    .then("<%= fn.pathify(script) %>")
  <% }) %>
  <% }; %>


	<% scripts.specs.forEach(function(script, i){ %>
		.then("<%= fn.pathify(script) %>")
	<% }) %>
	<% scripts.reporters.forEach(function(script, i){ %>
		.then("<%= fn.pathify(script) %>")
	<% }) %>
	<% scripts.start.forEach(function(script, i){ %>
		.then("<%= fn.pathify(script) %>")
	<% }) %>
  </script>
</head>
<body>
</body>
</html>
